%h2 Making book finding easier
%p
  Blue sparrow is a social sharing place for books. It helps you find the book you really wanted to find but you never
  could. There are no money involved, people are putting their books for loan for free.