
%div
 %form{ :action => "/books", :method => "POST"}
  %fieldset
   %legend Add a new book

   .control-group
    %label.control-label Book title
    %div.input-append
     %input.span3{ :type => "text", :id => "title", :placeholder => "The three musketeers", :name => "title"}
      %a.btn{ :href => "#search_modal", :'data-toggle' => "modal"} Search

   .control-group
    %label.control-label ISBN - 13
    %input.span3{ :type => "text", :id => "isbn", :placeholder => "a 13 character string", :name => "isbn"}

   .control-group
    %label.control-label Additional info - Amazon link
    %input.span3{ :type => "text", :id => "amazon", :placeholder => "www.amazon.com", :name => "amazon_description"}

   %input.hidden{ :type => "text", :id => "cover", :name => "cover"}
   .controls
    %button.btn.btn-primary{ :type => "submit", :class => "btn"} Add a new book



 %div#search_modal.modal.hide.fade{ :role => "dialog", :'tab-index' => -1}
  %div.modal-header
   %button.close{ :'data-dismiss' => 'modal' } x
   %h3 Search results
  %div.modal-body
   %table#results_table.table.table-hover
    %tbody#results_list
  %div.modal-footer
   %button.btn.btn-primary.span2{ :'data-dismiss' => 'modal', :onclick => 'select_book();' } Choose
   %button.btn.btn-warning{ :'data-dismiss' => 'modal' } Close



