

%form{ :action => "/books", :method => "POST"}
 %fieldset
  %legend Add a new book

  %label Book title
  %input{ :type => "text", :id => "title", :placeholder => "The three musketeers", :name => "title"}

  %button{ :type => "submit", :class => "btn"} Add a new book


