

%form{ :action => "/books", :method => "POST"}
 %fieldset
  %legend Add a new book

  %label Book title
  %input{ :type => "text", :id => "title", :placeholder => "The three musketeers", :name => "title"}

  %label Amazon description
  %input{ :type => "text", :id => "amazon", :placeholder => "www.amazon.com", :name => "amazon_description"}


  %button{ :type => "submit", :class => "btn"} Add a new book


