
%form.form-search{ :action => "/books", :type => "GET" }
 %input.input-medium.search-query{ :name => "query"}
 %button.btn{ :type => 'submit'} Search

%table#books.table.table-hover
 %thead
  %td Cover
  %td Title
  %td Owner
  %td Link
 - @books.each do |book|
  %tr
   %td
    %img.cover{ :'data-isbn' => book['isbn_13'] }
   %td #{book['title']}
   %td #{book['owner']}
   %td
    - if book['amazon_description'].size > 0
     %a{ :href => book['amazon_description'] } Amazon link
    - else
     No description

%a.btn.btn-primary{ :type => "button", :href => "/add_book.html"} Add your own book