

%table#books.table.table-hover
 %thead
  %td Title
  %td Owner
 - @books.each do |book|
  %tr
   %td #{book["title"]}
   %td #{book["owner"]}

%a.btn.btn-primary{ :type => "button", :href => "/add_book.html"} Add your own book