%h3 Feedback! We want you!
%p
  Blue sparrow wants to improve so any ideas or feedback is highly valued
%p
  Sent your suggestions at
  %a{ :href => "mailto:mircea.moise@gmail.com"} mircea.moise@gmail.com