%div.jumbotron
 %h1 Read more, Read better
 %p.lead By enabling people to share their library with other readers, we aim to build a social network that enables you to find the book of your choice fast and free.
 %a.btn.btn-large.btn-success{ :href => "/signup" } Sign up today
 %p.lead{ :style => "margin-top:40px;"} Or just take a look at the available books
 %a.btn.btn-large.btn-inverse{ :href => "/books" } See the books
