<!DOCTYPE HTML>
%html
  %head
    %meta{:charset => "utf-8"}
    %title Blue sparrow
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    %link{ :href => "/assets/bootstrap.css", :rel => "stylesheet"}
    %link{ :href => "/assets/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{ :href => "/assets/add_book.css", :rel => "stylesheet"}

  %body

    .container-narrow

      .masthead
        %ul.nav.nav-pills.pull-right
          %li{ :class => @menu_classes['home'] }
            %a{ :href => "/"} Home
          %li{ :class => @menu_classes['about_us'] }
            %a{ :href => "/about_us"} About Us
          %li{ :class => @menu_classes['contact'] }
            %a{ :href => "/contact"} Contact
        %h3.muted
          - if logged_in?
            = current_user.email
          - else
            Blue Sparrow
      %hr

      =yield

      %hr

      .footer
        %p &copy; Mircea Moise 2013


    %script{ :src => "assets/jquery.js"}
    - @optional_js.each do |script|
      %script{ :src => "assets/#{script}" }