#sinatra_authentication
  %h1.page_title Sign Up
  %form.form-horizontal{:action => "/signup", :method => "post"}
    .control-group
      %label.control-label{:for => "user_email", :style => "margin-right: 20px;"} Email:
      %input{ :id => "user_email", :name => "user[email]", :size => 30, :type => "text" , :value => params[:email]}
    .control-group
      %label.control-label{:for => "user_password", :style => "margin-right: 20px;"} Password:
      %input{ :id => "user_password", :name => "user[password]", :size => 30, :type => "password" }
    .control-group
      %label.control-label{:for => "user_password_confirmation", :style => "margin-right: 20px;"} Confirm Password:
      %input{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :size => 30, :type => "password" }
    .control-group
      .controls
        %input.btn.btn-primary{ :value => "Sign up", :type => "submit" }
  %p
    %h4
      or just
      %a.btn.btn-inverse{:href => "/login", :class => 'sinatra_authentication_link'}
        Login
